:root {
  --button-corners: 15px;
  --section-corners: 5px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
section {
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: var(--section-corners);
}

.player-choices {
  display: flex;
  flex-direction: row;
}

.player-choices div {
  border: 1px solid black;
  margin: 5px;
  padding: 2px 0.5rem;
  border-radius: var(--button-corners);
}

#scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
